@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Border bawah gray*/
.text--gray {
  color: #A1AFBB;
}

.text--blue {
  color: #179DFE;
}

.text--white {
  color: #FFFFFF;
}

.btn--blue {
  background-color: #179DFE;
  border: 0px;
}

.btn--orange {
  background-color: #FAAF40;
}

.bg--chocolate {
  background-color: #F9E4B8;
}

/* For Mobile View */
h1, h2, h3, h4, h5, h6, p, span, label {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}

h1 {
  font-size: 1.35em;
}

h2 {
  font-size: 1.15em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.95em;
}

p {
  font-size: 13px;
  line-height: 20px;
}

/* Buat header only */
.header--to-do h4 {
  text-transform: uppercase;
}

/* Button 'Muat Lainnya' */
a.btn--muat-lainnya {
  display: block !important;
  float: right;
  margin-bottom: 30px;
}

/* Button 'Ambil Studi' */
.btn--ambil-studi {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.95em;
}

/* Button berbentuk text */
.btn--text {
  background-color: transparent !important;
  border: 0px;
}

/* For Side Navbar Only */
@media (max-width: 768px) {
  /* Animasi Side Navbar Slide in dari kiri */
  .navbar-collapse {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #FFFFFF !important;
    height: 100vh;
    padding: 30px;
  }

  /* Transition Function */
  .navbar-collapse.collapsing {
    -webkit-transition: left 0.17s linear;
    -o-transition: left 0.17s linear;
    -moz-transition: left 0.17s linear;
    transition: left 0.17s linear;
    height: auto;
    left: -100%;
  }

  .navbar-collapse.show {
    -webkit-transition: left 0.17s linear;
    -o-transition: left 0.17s linear;
    -moz-transition: left 0.17s linear;
    transition: left 0.17s linear;
    left: 0;
  }

  /* Animated Navbar Toggler Button */
  .navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
  }

  /* Function Rotate */
  /* Function Translate */
  /* Function Rotate and Translate */
  /* Function Animation */
  /* Kondisi awal */
  .navbar-toggler span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    display: block;
    background-color: #546E7E;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 999;
    border-radius: 3px;
  }

  /* Animation buat garis pertama dan garis ketiga */
  .navbar-toggler span.icon-toggler1,
.navbar-toggler span.icon-toggler3 {
    -webkit-transition: transform 0.35s ease-in-out;
    -moz-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
  }

  /* Garis pertama saat aktif */
  .navbar-toggler:not(.collapsed) span.icon-toggler1 {
    -webkit-transform: translateX(85vw) rotate(135deg);
    -moz-transform: translateX(85vw) rotate(135deg);
    -o-transform: translateX(85vw) rotate(135deg);
    transform: translateX(85vw) rotate(135deg);
    position: absolute;
    top: 10px;
    margin-top: 30px;
  }

  /* Garis ketiga saat aktif */
  .navbar-toggler:not(.collapsed) span.icon-toggler3 {
    -webkit-transform: translateX(85vw) rotate(-135deg);
    -moz-transform: translateX(85vw) rotate(-135deg);
    -o-transform: translateX(85vw) rotate(-135deg);
    transform: translateX(85vw) rotate(-135deg);
    position: absolute;
    top: 10px;
    margin-top: 30px;
  }

  /* Garis kedua untuk hilang saat aktif*/
  .navbar-toggler:not(.collapsed) span.icon-toggler2 {
    opacity: 0;
  }
}
/* Button toggler */
button.navbar-toggler {
  border: 0px;
  background-color: #FFFFFF;
  padding-left: 0;
  padding-top: 18px;
}

/* Active Link Colored Blue */
.nav-link.active,
.nav-link:hover {
  color: #179DFE !important;
}

.nav-link {
  font-weight: 500;
  color: #0D2433 !important;
  margin: 2px 0;
  font-weight: 400;
}

/* Kasih Jarak antara brand logo dan link */
.nav-item:nth-child(1) {
  margin-top: 50px;
}

/* Notif & Wajah */
.notif-wajah {
  padding-top: 18px;
  padding-right: 20px;
  vertical-align: top;
}
.notif-wajah button {
  border: 0px;
  background-color: #EDEFF2;
  border-radius: 50px;
  color: #A1AFBB;
  width: 42px;
}
.notif-wajah button i {
  font-size: 1.5em;
  margin-top: 2px;
}
.notif-wajah button:nth-child(2) {
  background-color: transparent;
}
.notif-wajah img {
  border-radius: 50px;
}

/* TODO : Popover design to look like design */
/* Popover */
.popover-body div {
  padding: 10px 0;
  border-bottom: 1px solid #EDEFF2;
  /* Notif */
}
.popover-body div .notif-date {
  padding-right: 5px;
}

/* Hide Popover Content */
.hidden {
  display: none;
}

/* Header Welcome */
.header {
  margin: 30px 0;
}

.header--welcome {
  margin-top: 70px;
}

/* buat section besar */
.section {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EDEFF2;
}

/* section buat aktivitas yg bisa dilakukan */
.section-aktivitas {
  margin: 30px 0;
}

/* buat section riwayat aktivitas*/
.section-riwayat {
  border-bottom: 1px solid #EDEFF2;
  margin-bottom: 20px;
}

/* Layout Icons */
.template-icon {
  display: grid;
  grid-template-columns: 1fr 6fr;
  vertical-align: middle;
}

.riwayat-aktivitas {
  margin-top: 60px;
}

/* ===== Screening Page ====== */
.section-screening {
  /* TODO: need to style select box to look like design */
}
.section-screening h4 {
  margin: 20px 0 20px;
  border-bottom: 1px solid #EDEFF2;
  padding-bottom: 10px;
}
.section-screening .section {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.section-screening select {
  border: none;
  font-weight: bold;
  color: #179DFE;
}

/* TODO */
/* ======== Login Page ===========*/
/* All Fullwdith Button */
.btn--fullwidth {
  width: 100%;
  padding: 10px;
}

/*# sourceMappingURL=base-style.css.map */
