@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-gray: #A1AFBB;
$toggler--dark-blue: #546E7E;
$color-blue: #179DFE;
$color-black: #0D2433;
$color-white: #FFFFFF;

/* Border bawah gray*/
$border-bottom--gray: 1px solid #EDEFF2;

.text--gray {
    color: $color-gray;
}

.text--blue {
    color: $color-blue;
}

.btn--blue {
    background-color: $color-blue;
    border: 0px;
}

/* Active Link Colored Blue */
.nav-link.active,
.nav-link:hover {
    color: $color-blue !important;
}

.nav-link {
    font-weight: 500;
    color: $color-black !important;
    margin: 2px 0;
    font-weight: 400;
}

.nav-item:nth-child(1) {
    margin-top: 50px;
}

/* For Mobile View */
h1, h2, h3, h4, h5, h6, p, span, label {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.35em;
}

h2 {
    font-size: 1.15em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.95em;
}

p {
    font-size: 0.9em;
}

/* Buat header only */
.header--to-do h4{
    text-transform: uppercase;
}

/* Button 'Muat Lainnya' */
a.btn--muat-lainnya {
    display: block !important;
    float: right;
    margin-bottom: 30px;
}

/* Button toggler nav border */
button.navbar-toggler {
    border: 0px;
    background-color: $color-white;
    padding-left: 0;
    padding-top: 18px;
}

/* Button 'Ambil Studi' */
.btn--ambil-studi {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.95em;
}

/* Button berbentuk text */
.btn--text {
    background-color: transparent !important;
    border: 0px;
}

/* For Side Navbar Only */
@media (max-width: 768px) {
    /* Animasi Side Navbar Slide in dari kiri */
    .navbar-collapse {
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #fff !important;
        height: 100vh;
        padding: 30px;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s linear;
        -o-transition: left 0.3s linear;
        -moz-transition: left 0.3s linear;
        transition: left 0.3s linear;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s linear;
        -o-transition: left 0.3s linear;
        -moz-transition: left 0.3s linear;
        transition: left 0.3s linear;
    }

    /* Animated Navbar Toggler Button */
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }

    /* Function Rotate */
    @mixin rotate($degree) {
        -webkit-transform: rotate($degree);
        -moz-transform: rotate($degree);
        -o-transform: rotate($degree);
        transform: rotate($degree);
    }

    /* Function Translate */
    @mixin translate($valueX, $valueY) {
        -webkit-transform: translate($valueX, $valueY);
        -moz-transform: translate($valueX, $valueY);
        -o-transform: translate($valueX, $valueY);
        transform: translate($valueX, $valueY);
    }

    /* Function Rotate and Translate */
    @mixin rotate-translate($value, $degree) {
        -webkit-transform: translateX($value) rotate($degree);
        -moz-transform: translateX($value) rotate($degree);
        -o-transform: translateX($value) rotate($degree);
        transform: translateX($value) rotate($degree);
    }

    /* Function Animation */
    @mixin animate($second) {
        -webkit-transition: transform $second ease-in-out;
        -moz-transition: transform $second ease-in-out;
        -o-transition: transform $second ease-in-out;
        transition: transform $second ease-in-out;
    }

    /* Kondisi awal */
    .navbar-toggler span {
        @include rotate(0deg);
        display: block;
        background-color: $toggler--dark-blue;
        height: 3px;
        width: 25px;
        margin-top: 4px;
        margin-bottom: 4px;
        position: relative;
        left: 0;
        opacity: 1;
        z-index: 999;
        border-radius: 3px;
    }

    /* Animation buat garis pertama dan garis ketiga */
    .navbar-toggler span.icon-toggler1,
    .navbar-toggler span.icon-toggler3 {
        @include animate(.35s);
    }

    /* Garis pertama saat aktif */
    .navbar-toggler:not(.collapsed) span.icon-toggler1 {
        @include rotate-translate(85vw, 135deg);
        position: absolute;
        top: 10px;
        margin-top: 30px;
    }

    /* Garis ketiga saat aktif */
    .navbar-toggler:not(.collapsed) span.icon-toggler3 {
        @include rotate-translate(85vw, -135deg);
        position: absolute;
        top: 10px;
        margin-top: 30px;
    }

    /* Garis kedua untuk hilang saat aktif*/
    .navbar-toggler:not(.collapsed) span.icon-toggler2 {
        opacity: 0;
    }
}

/* Header Welcome */
.header {
    margin: 30px 0;
}

.header--welcome {
    margin-top: 70px;
}

/* buat section besar */
.section {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: $border-bottom--gray;
}

/* section buat aktivitas yg bisa dilakukan */
.section-aktivitas {
    margin: 30px 0;
}

/* buat section riwayat aktivitas*/
.section-riwayat {
    border-bottom: $border-bottom--gray;
    margin-bottom: 20px;
}

/* Layout Icons */
.template-icon {
    display: grid;
    grid-template-columns: 1fr 6fr;
    vertical-align: middle;
}

.riwayat-aktivitas {
    margin-top: 60px;
}

/* ===== Screening Page ====== */
.section-screening {
    h4 {
        margin: 20px 0 20px;
        border-bottom: $border-bottom--gray;
        padding-bottom: 10px;
    }
    .section {
        display: grid;
        grid-template-columns: 1fr 6fr;
    }

    select {
        border: none;
        font-weight: bold;
        color: $color-blue;
    }
}