.nav-link {
    color: $color-dark-blue !important;
    font-weight: 500;
    margin: 2px 0;
    font-weight: 400;
}

// Active Link Colored Blue
.nav-link.active,
.nav-link:hover {
    color: $color-light-blue !important;
}

// Notif & Avatar
.topnav-notif-avatar {
    vertical-align: middle;    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;

    #topnav-btn-avatar {
        background: url('../../src/assets/profile-picture.png');
        background-size: 26px 26px;
    }

    button {
        border: 0px;
        background-color: $color-light-gray;
        border-radius: 50px;
        width: 26px;
        height: 26px;
        
        i {
            font-size: 12px;
            color: $color-dark-gray;
        }
    }
}

// Desktop view
// @media screen and (min-width: 768px) {
//     .topnav {
//         display: inline-grid;
//         grid-template-columns: 1fr auto;
//     }


// }