// Small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
    /* Kondisi awal */
    .navbar-toggler {
        span {
            @include rotate(0deg);
            display: block;
            background-color: $color-dark-blue;
            height: 3px;
            width: 25px;
            margin-bottom: 4px;
            position: relative;
            left: 0;
            opacity: 1;
            z-index: 999;
            border-radius: 10px;
        }
    }
    
    .navbar-collapse {
        position: absolute;
        top: 0;
        width: 90%;
        background-color: $color-white !important;
        height: 100vh;
    }
    
    // Set Backdrop for behind sidebar
    .navbar-collapse.show {
        box-shadow: 200px -10px rgba(13, 36, 51, .6);
    }
    
    .sidebar {        
        padding: 32px 0 76px 24px;
        z-index: 998;
    }
    
    .sidebar-nav {
        // Kasih Jarak antara brand logo dan dashboard
        li:nth-child(1) {
            margin-top: 24px;
        }
        
        li a {
            font-size: 0.93rem;
        }
        
        .dropdown-menu {
            border: 0px;
            padding: 0;
            
            a {
                font-size: 0.81rem;
                margin: 10px 0;
                padding-left: 0;
                color: $color-dark-blue;
                &:hover, &:active {
                    color: $color-light-blue;
                }
                
                img {
                    padding: 0 15px 0 10px;
                    width: 100%;
                    height: auto;
                    align-self: center;
                    justify-self: center;
                }
                
                span {
                    align-self: center;
                    justify-self: start;
                }
            }
        }
    }
}

// Large devices (desktop, more than 768px)
@media screen and (min-width: 768px) {
    .sidebar {
        background-color: #f7f7f7;
        padding-right: 32px;

        .sidebar-profile {
            margin: 40px 0 48px;
            width: 95%;

            .sidebar-img-profile {
                width: 72px;
                height: 72px;
                border-radius: 50px;
                margin-left: 24px;
            }

            .sidebar-profile-content {
                background-color: $color-white;
                border-radius: 8px;
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
                padding: 50px 20px 20px;
                margin-top: -36px;

                h4 { //add margin between name and "saldo tersedia"
                    margin-bottom: 29px;
                }
            }
        }
    }
}