@media (max-width: 768px) {
    /* Kondisi awal */
    .navbar-toggler span {
        @include rotate(0deg);
        display: block;
        background-color: $color-dark-blue;
        height: 3px;
        width: 25px;
        margin-bottom: 4px;
        position: relative;
        left: 0;
        opacity: 1;
        z-index: 999;
        border-radius: 3px;
    }

    .navbar-collapse {
        position: absolute;
        top: 0;
        width: 90%;
        background-color: $color-white !important;
        height: 100vh;
    }
    
    /* Kasih Jarak antara brand logo dan link */
    .nav-item:nth-child(1) {
        margin-top: 32px;
    }

    .sidebar-nav {
        .grid--left {
            a {
                display: grid;
                grid-template-columns: 50px 1fr;
            }
        }
    }
}