// For input that color is blue and no border
select:not(.settings__option),
input[type=date]:not(.settings__input) {
    border: none;
    font-weight: $font-bold;
    color: $color-light-blue;
    background-color: transparent;
}

// For All Label
.settings__question,
.signup__question {
    font-weight: $font-bold;
    margin-bottom: 12px;
}

// For general input
.settings__input,
.settings__option,
.signup__input,
.login__input {
    height: 48px;
    border: 2px solid $color-gray;
    border-radius: 4px;
    font-size: 0.81rem;
    margin-bottom: 24px;
}

//Remove input password border-right
.form-password {
    border-right: 0px;
}

// Eye Toggle for Password
.input-group-text {
    height: 48px;
    background-color: transparent;
    border: 2px solid $color-gray;
    border-left: 0px;
    
    .fa-eye {
        color: #d7dadb;
    }
}