@import url('https://fonts.googleapis.com/css?family=Roboto');

/* For Mobile View */
h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.35em;
}

h2 {
    font-size: 1.15em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.95em;
}

p {
    font-size: 0.9em;
}

a.btn--muat-lainnya {
    display: block !important;
    float: right;
    margin-bottom: 30px;
}

/* Navbar Button Toggler */
button.navbar-toggler {
    border: 0px;
    padding: 5px 0;
}

.text-gray {
    color: #A1AFBB;
}

.text-blue {
    color: #179DFE;
}

.btn--blue {
    background-color: #179DFE;
    border: 0px;
}

.btn--ambil-studi {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.95em;
}

.btn--text {
    background-color: transparent !important;
    border: 0px;
}

.header--to-do h4{
    text-transform: uppercase;
}

/* For Navbar Only */
@media (max-width: 768px) {
    .navbar-collapse {
        position: absolute;
        top: 54px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        background-color: #fff !important;
        height: 100vh;
    }
    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.3s ease-in;
        -o-transition: left 0.3s ease-in;
        -moz-transition: left 0.3s ease-in;
        transition: left 0.3s ease-in;
    }
}

/* Header Welcome */
.header {
    margin: 30px 0;
}

.header--welcome {
    margin-top: 70px;
}

/* buat section besar */
.section {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #EDEFF2;
}

/* section buat aktivitas yg bisa dilakukan */
.section-aktivitas {
    margin: 30px 0;
}

/* buat section riwayat aktivitas*/
.section-riwayat {
    border-bottom: 1px solid #EDEFF2;
    margin-bottom: 20px;
}

/* Layout Icons */
.template-icon {
    display: grid;
    grid-template-columns: 1fr 6fr;
    vertical-align: middle;
}

.riwayat-aktivitas {
    margin-top: 60px;
}