$color-white: #FFFFFF;
$color-light-blue: #179DFE;
$color-blue: #0A3047;
$color-blue-2: #0F5C80;
$color-dark-blue: #0D2433;
$color-light-gray: #EDEFF2;
$color-gray: #E6E8EA;
$color-gray-2: #C9CCCE;
$color-dark-gray: #A1AFBB;
$color-dark-gray-2: #546E7E;
$color-orange: #FAAF40;
$color-orange-2: #FDBC50;
$color-cream: #F9E4B8;
$color-red: #F14336;

// For border colored gray #AIAFBB
$border-bottom--gray: 1px solid $color-light-gray;

// Font Weight
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;