.dashboard {
    .body-content {
        margin: 54px 0 0;
    }

    .dashboard-header {
        margin: 0 0 40px;
        
        //remove p margin bottom
        p {
            margin: 0;
        }
    }
    
    .study-item {
        margin: 32px 0;
        padding: 0 0 32px;
        border-bottom: $border-line--gray;
    }
}