/*
 * Mobile View (Less than 768px)
 */ 
#screening {
    .header-screening-cluster {
        margin: 54px 0 16px;
        border-bottom: $border-line--gray;
    }

    // Assign all favicon icons
    .section-screening__icon {
        max-width: 30px;
    }
    
    .section-screening {
        margin: 16px 0;
        border-bottom: $border-line--gray;
        padding-bottom: 16px;

        img {
            align-self: start;
            justify-self: start;
        }
        
        form {
            align-self: center;
            justify-self: start;
            font-size: 0.81rem;
        }
    }
}

/*
 * Desktop View (More than 768px)
 */
 @media screen and (min-width: 768px) {
     .screening {
         height: 100%;
         
        .header-screening-cluster {
            margin: 0 0 16px;
        }

        .section-screening:nth-child(1) {
            margin-top: 0;
        }
     }
 }