// All Setting Pages
.settings {
    margin-bottom: 76px;
    
    .settings-header {
        margin-top: 48px;
        border-bottom: $border-line--gray;
    }
    
    .profile-settings-form,
    .password-settings-form,
    .notification-settings-form,
    .bank-account-settings-form {
        margin-top: 32px;
    }
}

// Setting-2 Only
#setting-2 {
    .profile-settings-picture {
        display: flex;
        align-items: flex-end;
        margin: 8px 0 32px;
        
        // Reset delete button's margin and padding
        button {
            margin: 0;
            padding: 0;
        }
        
        // Profile Picture
        #profile-avatar {
            max-width: 72px;
            max-height: 72px;
            border-radius: 50px;
        }
        
        & > * {
            margin-right: 1rem;
        }
    }
    
    // Input ID Card
    .profile-settings-id-card {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        
        //remove p margin-bottom
        p {
            margin: 0 0 0 24px;
        }
    }
    
    //add border bottom for Form
    form {
        border-bottom: $border-line--gray;
    }
    
    // Settings Footer
    .settings-footer {
        display: inline;
        
        .btn {
            width: 47%;            
        }
    }
}

// Setting-4 Only
#setting-4 {
    .btn-primary {
        margin: 30px 0 16px;
    }
}

// Setting-6 Only
#setting-6 {
    h4 {
        margin: 32px 0 16px;
    }
}

// Setting-8 Only
#setting-8 {
    input#bank-account-name {
        margin-bottom: 8px;
    }
    
    // Remove last input margin bottom
    #bank-account-bank-branch {
        margin-bottom: 0 !important;
    }
}

// Setting 11 only
#setting-11 {
    .account-settings-item {
        padding: 32px 0;
        border-bottom: $border-line--gray;
    }
}

/*
* Desktop View
*/
@media screen and (min-width: 768px) {
    .settings {
        // .body-content {
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        //     grid-template-areas:
        //     "tab tab"
        //     "settings .";
            
        //     .tab {
        //         grid-area: tab;
        //     }
            
        //     .settings-grid {
        //         grid-area: settings;
        //     }
        // }

        height: 100%;

        .settings-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        
        .profile-settings-form,
        .password-settings-form,
        .notification-settings-form,
        .bank-account-settings-form {
            margin-top: 0 !important;
        }
    }
    
    //Edit Profile Settings
    #setting-2 {
        .settings-grid {
            form {
                //remove border bottom
                border: 0;
            }
            
            // Footer (2 buttons)
            .settings-footer {
                button {
                    margin-top: 48px !important;
                }
            }
        }
    }

    //Notification Settings
    #setting-6 {
        h4 {
            margin-top: 0;
        }

        .settings-icon {
            width: 50%;
            justify-self: center;
        }
    }

    //Bank Account Settings
    #setting-8 {
        form {
            .btn-primary {
                margin-top: 40px !important;
            }
        }
    }

    //Account Settings
    #setting-11 {
        .settings-grid {
            grid-template-columns: 1fr;

            .account-settings-item:nth-child(1) {
                padding-top: 0;
            }

            .account-settings-item {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: ". button";

                button {
                    grid-area: button;
                    justify-self: end;
                    align-self: flex-end;
                }
            }
        }
    }
}