@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@media (max-width: 768px) {
  /**
  * Sidebar animation from left to right
  */
  .navbar-collapse.collapsing {
    -webkit-transition: left 0.17s linear;
    -o-transition: left 0.17s linear;
    -moz-transition: left 0.17s linear;
    transition: left 0.17s linear;
    height: auto;
    left: -100%;
  }

  .navbar-collapse.show {
    -webkit-transition: left 0.17s linear;
    -o-transition: left 0.17s linear;
    -moz-transition: left 0.17s linear;
    transition: left 0.17s linear;
    left: 0;
  }

  .navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
  }

  .navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform 0.35s ease-in-out;
    -moz-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
    transition: transform 0.35s ease-in-out;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(1) {
    -webkit-transform: translateX(65vw) rotate(135deg);
    -moz-transform: translateX(65vw) rotate(135deg);
    -o-transform: translateX(65vw) rotate(135deg);
    transform: translateX(65vw) rotate(135deg);
    position: absolute;
    top: 10px;
    background-color: #546E7E;
    height: 4px;
  }

  .navbar-toggler:not(.collapsed) span:nth-child(3) {
    -webkit-transform: translateX(65vw) rotate(-135deg);
    -moz-transform: translateX(65vw) rotate(-135deg);
    -o-transform: translateX(65vw) rotate(-135deg);
    transform: translateX(65vw) rotate(-135deg);
    position: absolute;
    top: 10px;
    background-color: #546E7E;
    height: 4px;
  }

  /* Garis kedua untuk hilang saat aktif*/
  .navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
  }
}
.text--gray {
  color: #E6E8EA;
}

.text--dark-gray {
  color: #A1AFBB;
}

.text--dark-gray-2 {
  color: #546E7E;
}

.text--light-blue {
  color: #179DFE;
}

.text--white {
  color: #FFFFFF;
}

.text-highlight {
  background-color: #F9E4B8;
}

:root {
  font-size: 16px;
}

/**
 * h1 untuk header superbesar (28sp)
 * Contoh: Verifikasi email
 *
 * h2 untuk header login atau signup (20sp)
 * Contoh: Selamat bergabung dengan Populix
 * 
 * h3 untuk header welcome user (16sp)
 * Contoh: Hi, Juinal. Selamat datang.
 * 
 * h4 untuk header activity (15sp)
 * Contoh: Studi marketplace tentang pengguna teknologi
 *
 * h5 untuk nama perusahaan dari activity (14sp)
 * Contoh: Tokopedia, East Ventures, dll
 *
 * h6 untuk header warna grey (12sp)
 * Contoh: Aktivitas yang bisa kamu lakukan, Riwayat Aktivitas, dll
 *
 * p umumnya digunakan yang lain-lain (13sp)
 * Contoh: subtitle, konten, dll
 *
 * class f-12 untuk p atau span atau label ukuran 12sp
 */
h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
  line-height: 20px;
}

h4 {
  font-size: 0.93rem;
}

h5 {
  font-size: 0.87rem;
}

h6 {
  font-size: 0.75rem;
  color: #A1AFBB;
  font-weight: 600;
  line-height: 1rem;
}

p, label {
  font-size: 0.81rem;
  line-height: 20px;
  font-weight: 400;
}

.f-12 {
  font-size: 0.75rem;
}

.f-13 {
  font-size: 0.81rem;
}

* {
  font-family: "Open Sans", sans-serif;
  color: #0D2433;
  background-color: #FFFFFF;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

body {
  height: 100%;
}

.container {
  padding: 32px 24px 76px 24px;
}

.navbar,
.navbar-collapse,
.navbar-toggler {
  padding: 0;
}

.row,
.col {
  padding: 0;
  margin: 0;
}

nav.dropdown-item {
  color: #0D2433 !important;
}

i.fas, i.fab {
  background-color: transparent;
}
i.fas.fa-arrow-right, i.fab.fa-arrow-right {
  color: #FFFFFF;
  float: right;
  vertical-align: middle !important;
}

.nav-link {
  color: #0D2433 !important;
  font-weight: 500;
  margin: 2px 0;
  font-weight: 400;
}

.nav-link.active,
.nav-link:hover {
  color: #179DFE !important;
}

.topnav-notif-avatar {
  vertical-align: middle;
}
.topnav-notif-avatar button {
  border: 0px;
  background-color: #EDEFF2;
  border-radius: 50px;
  width: 26px;
}
.topnav-notif-avatar button i {
  font-size: 12px;
  color: #A1AFBB;
}
.topnav-notif-avatar button:nth-child(2) {
  background-color: transparent;
}
.topnav-notif-avatar img {
  border-radius: 50px;
}

/* Layout Icons */
.grid-2 {
  display: grid;
  grid-template-columns: 40px auto;
  grid-row-gap: 17px;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
  grid-row-gap: 17px;
}

.dropdown-menu a {
  display: grid;
  grid-template-columns: 50px 1fr;
}

@media (max-width: 768px) {
  /* Kondisi awal */
  .topnav .navbar-toggler span {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    display: block;
    background-color: #0D2433;
    height: 3px;
    width: 25px;
    margin-bottom: 4px;
    position: relative;
    left: 0;
    opacity: 1;
    z-index: 999;
    border-radius: 10px;
  }
  .topnav .navbar-collapse {
    position: absolute;
    top: 0;
    width: 90%;
    background-color: #FFFFFF !important;
    height: 100vh;
  }
  .topnav .navbar-collapse.show {
    box-shadow: 200px -10px rgba(13, 36, 51, 0.6);
  }

  .sidebar {
    margin-top: -32px !important;
    padding: 32px 0 0 0;
    z-index: 998;
  }

  .sidebar-nav li:nth-child(1) {
    margin-top: 24px;
  }
  .sidebar-nav li a {
    font-size: 0.93rem;
  }
  .sidebar-nav .dropdown-menu {
    border: 0px;
    padding: 0;
  }
  .sidebar-nav .dropdown-menu a {
    font-size: 0.81rem;
    margin: 10px 0;
    color: #0D2433;
  }
  .sidebar-nav .dropdown-menu a:hover, .sidebar-nav .dropdown-menu a:active {
    color: #179DFE;
  }
  .sidebar-nav .dropdown-menu a img {
    padding: 0 15px 0 10px;
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
  }
  .sidebar-nav .dropdown-menu a span {
    align-self: center;
    justify-self: start;
  }
}
/* Button Primary for Blue Colored Button */
.btn-primary, .btn--orange, .btn-secondary {
  border: 0px;
  padding: 0.75rem 1.12rem 0.87rem;
  border-radius: 5px;
  font-size: 0.93rem;
  background-color: #179DFE;
  width: 50%;
  margin-top: 32px;
}

.btn-secondary {
  background-color: #f9fafc;
  border: 1px solid #A1AFBB;
  color: #0D2433;
  margin-top: 0;
}

.btn--orange {
  background-color: #FAAF40;
}

/* Button berbentuk text */
.btn--text, button.navbar-toggler {
  background-color: transparent !important;
  border: 0px;
}

.btn-block {
  width: 100%;
}

/* Button navbar toggler */
button.navbar-toggler {
  padding-left: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E6E8EA;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #FAAF40;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FAAF40;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-file {
  position: relative;
  overflow: hidden;
  margin: 0 10px 0 0;
  padding: 0;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  display: block;
  cursor: pointer !important;
}

/* TODO: need to style select box to look like design */
select:not(.settings__option),
input[type=date]:not(.settings__input) {
  border: none;
  font-weight: 700;
  color: #179DFE;
}

.settings__input,
.settings__option {
  height: 48px;
  border: 2px solid #E6E8EA;
  border-radius: 4px;
  font-size: 0.81rem;
  margin-bottom: 24px;
}

.input-group-text {
  height: 48px;
  background-color: transparent;
  border: 2px solid #E6E8EA;
  border-left: 0px;
}

/* Popover */
.popover-body div {
  padding: 10px 0;
  border-bottom: 1px solid #EDEFF2;
  /* Notif */
}
.popover-body div .notif-date {
  padding-right: 5px;
}

/* Hide Popover Content */
.popover-content-hidden {
  display: none;
}

.progress, .progress-bar {
  border-radius: 10px;
}

.progress-bar {
  background-color: #FAAF40;
}

.tab {
  font-size: 0.81rem;
  line-height: 20dp;
}
.tab .nav-tabs {
  border: 0px;
  border-bottom: 1px solid #EDEFF2;
  margin-bottom: 24px;
}
.tab .nav-tabs a {
  border: 0px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 4px;
  margin: 32px 20px -1px 0;
}
.tab .nav-tabs a.active {
  border-bottom: 1px solid #179DFE;
}

.history-list h6 {
  margin-top: 48px;
}
.history-list p {
  margin-bottom: 0;
  color: #10496d;
}
.history-list .history-item {
  border-bottom: 1px solid #EDEFF2;
  padding: 35px 0 28px;
}
.history-list .history-item .history__icon {
  max-width: 35px;
  max-height: 30px;
  margin-bottom: 15px;
}
.history-list .history-footer {
  margin-top: 24px;
}

.modal-footer {
  padding-top: 0;
}
.modal-footer .modal-footer-type-2 {
  align-items: center;
}

.body-content h3, .body-content h4 {
  font-weight: 700;
}
.body-content .img-3-dots {
  margin: 24px 0;
}

/* buat section besar */
.section {
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #EDEFF2;
}

#screening .header-screening-cluster {
  margin: 54px 0 16px;
  border-bottom: 1px solid #EDEFF2;
}
#screening .section-screening__icon {
  max-width: 30px;
}
#screening .section-screening {
  margin: 16px 0;
  border-bottom: 1px solid #EDEFF2;
  padding-bottom: 16px;
}
#screening .section-screening img {
  align-self: start;
  justify-self: start;
}
#screening .section-screening form {
  align-self: center;
  justify-self: start;
  font-size: 0.81rem;
}

#prescreening #prescreening-gender .prescreening__option .col:nth-child(1) {
  margin-right: 10px !important;
}
#prescreening #prescreening-gender .prescreening__option input {
  display: none;
  margin: 0;
  padding: 0;
}
#prescreening #prescreening-gender .prescreening__option label {
  cursor: pointer;
  background-size: contain;
  border: 5px solid #EDEFF2;
  border-radius: 5px;
  padding-top: 28px;
  padding-bottom: 28px;
  width: 100%;
}
#prescreening #prescreening-gender .prescreening__option label:hover {
  border: 5px solid #179DFE;
}
#prescreening #prescreening-gender .prescreening__option input:checked + label {
  border: 5px solid #179DFE;
}

.fgd-screening .fgd-screening-list .icon,
.fgd-screening .fgd-group-list .icon {
  max-width: 24px;
  max-height: 24px;
  align-self: center;
  justify-self: center;
}
.fgd-screening .fgd-screening-list .value,
.fgd-screening .fgd-group-list .value {
  margin: 0;
  align-self: center;
  justify-self: start;
}

#fgd-screening .fgd-screening-item {
  margin: 32px 0;
  padding: 0 0 32px;
  border-bottom: 1px solid #EDEFF2;
}
#fgd-screening .fgd-screening-item .fgd-screening-icon {
  max-width: 42px;
  margin: 0 0 26px;
}

#fgd-screening-4 .fgd-screening__icon {
  max-width: 30px;
}
#fgd-screening-4 .fgd-screening-header {
  border-bottom: 1px solid #EDEFF2;
  margin: 32px 0;
  padding-bottom: 16px;
}
#fgd-screening-4 .fgd-screening-header h4 {
  padding-bottom: 10px;
  margin-bottom: 32px;
  border-bottom: 1px solid #EDEFF2;
}
#fgd-screening-4 .fgd-screening-list {
  margin-top: 30px;
}

#fgd-screening-6 .fgd-group {
  padding: 24px;
  -webkit-box-shadow: 0 0 12px 0 #E6E8EA;
  -moz-box-shadow: 0 0 12px 0 #E6E8EA;
  box-shadow: 0 0 12px 0 #E6E8EA;
  border-radius: 8px;
  margin-bottom: 24px;
}
#fgd-screening-6 .fgd-group:nth-child(1) {
  margin-top: 32px;
}
#fgd-screening-6 .fgd-group .fgd-group-header {
  border-bottom: 1px solid #EDEFF2;
  padding-bottom: 42px;
  margin-bottom: 27px;
  text-align: center;
  vertical-align: center;
}
#fgd-screening-6 .fgd-group .fgd-group-header h4 {
  float: left;
}
#fgd-screening-6 .fgd-group .fgd-group-header span {
  float: right;
}
#fgd-screening-6 .fgd-group .fgd-group-header .fgd-group-slot {
  text-transform: uppercase;
  font-size: 0.625rem;
  width: 52px;
  padding: 3px 5px;
  color: #FFFFFF;
  background-color: #FAAF40;
  border-radius: 40px;
  font-weight: 700;
}
#fgd-screening-6 .fgd-group .fgd-group-header .fgd-group-slot.slot--full {
  background-color: #F14336;
}
#fgd-screening-6 .fgd-group .fgd-group-content {
  border-bottom: 1px solid #EDEFF2;
  padding-bottom: 24px;
}

.studi .tab-study-header {
  margin-top: 32px;
}
.studi .study-item {
  margin: 32px 0;
  padding: 0 0 32px;
  border-bottom: 1px solid #EDEFF2;
}
.studi .study-icon {
  max-width: 42px;
  margin: 0 0 26px;
}
.studi .study-list .icon,
.studi .study-details-and-reward .icon,
.studi .survey-header__time .icon {
  max-width: 24px;
  max-height: 24px;
  align-self: center;
  justify-self: center;
}
.studi .study-list .value,
.studi .study-details-and-reward .value,
.studi .survey-header__time .value {
  margin: 0;
  align-self: center;
  justify-self: start;
}

#studi .tab-study-header img:not(.img-3-dots) {
  margin-top: 38px;
  max-width: 50%;
}

#studi-8 .fa-arrow-left {
  color: #179DFE;
}
#studi-8 .study-details {
  margin-top: 40px;
}

#studi-9 .survey-header__id {
  display: flex;
  align-items: center;
  margin-top: 46px;
}
#studi-9 .survey-header__id p {
  margin: 0 10px 0 0;
}
#studi-9 .survey-header__id input {
  border: 0px;
  height: 14px;
  width: 150px;
}
#studi-9 .survey-header__time {
  margin-top: 20px;
}
#studi-9 .survey {
  margin-top: 44px;
}

.settings {
  margin-bottom: 76px;
}
.settings .form-password {
  border-right: 0px;
}
.settings .settings-header {
  margin-top: 48px;
  border-bottom: 1px solid #EDEFF2;
}
.settings .profile-settings-form,
.settings .password-settings-form,
.settings .notification-settings-form,
.settings .bank-account-settings-form {
  margin-top: 32px;
}
.settings .settings__question {
  font-weight: 700;
  margin-bottom: 12px;
}

#setting-2 .profile-settings-picture {
  display: flex;
  align-items: flex-end;
  margin: 8px 0 32px;
}
#setting-2 .profile-settings-picture button {
  margin: 0;
  padding: 0;
}
#setting-2 .profile-settings-picture #profile-avatar {
  max-width: 72px;
  max-height: 72px;
  border-radius: 50px;
}
#setting-2 .profile-settings-picture > * {
  margin-right: 1rem;
}
#setting-2 .profile-settings-id-card {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
#setting-2 .profile-settings-id-card p {
  margin: 0 0 0 24px;
}
#setting-2 form {
  border-bottom: 1px solid #EDEFF2;
}
#setting-2 .settings-footer {
  display: inline;
}
#setting-2 .settings-footer .btn {
  width: 47%;
}

#setting-4 .btn-primary, #setting-4 .btn-secondary, #setting-4 .btn--orange {
  margin: 30px 0 16px;
}

#setting-6 h4 {
  margin: 32px 0 16px;
}

#setting-8 input#bank-account-name {
  margin-bottom: 8px;
}
#setting-8 #bank-account-bank-branch {
  margin-bottom: 0 !important;
}

#setting-11 .account-settings-item {
  padding: 32px 0;
  border-bottom: 1px solid #EDEFF2;
}

span {
  background-color: transparent;
}

/*# sourceMappingURL=main.css.map */
