.text--gray {
    color: $color-gray;
}

.text--dark-gray {
    color: $color-dark-gray;
}

.text--dark-gray-2 {
    color: $color-dark-gray-2;
}

.text--light-blue {
    color: $color-light-blue;
}

.text--white {
    color: $color-white;
}

.text-highlight--cream {
    background-color: $color-cream;
}