body {
    height: 100%;
}

@media screen and (max-width: 767.98px) {
    // Define padding for all pages
    .container {
        padding: 32px 24px 76px 24px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0;
    }
}

// Remove Navbar Padding
.navbar,
.navbar-collapse,
.navbar-toggler {
    padding: 0;
}

// Remove Col and Row Padding and Margin
.row,
.col {
    padding: 0;
    margin: 0;
}

nav {
    &.dropdown-item {
        color: $color-dark-blue !important;
    }
}

//Remove all fas and fab background color
i.fas, i.fab {
    background-color: transparent;
    
    // for fa arrow right
    &.fa-arrow-right {
        color: $color-white;
        vertical-align: middle !important;
    }
}