:root {
    font-size: 16px;
}

/**
 * h1 untuk header superbesar (28sp)
 * Contoh: Verifikasi email
 *
 * h2 untuk header login atau signup (20sp)
 * Contoh: Selamat bergabung dengan Populix
 * 
 * h3 untuk header welcome user (16sp)
 * Contoh: Hi, Juinal. Selamat datang.
 * 
 * h4 untuk header activity (15sp)
 * Contoh: Studi marketplace tentang pengguna teknologi
 *
 * h5 untuk nama perusahaan dari activity (14sp)
 * Contoh: Tokopedia, East Ventures, dll
 *
 * h6 untuk header warna grey (12sp)
 * Contoh: Aktivitas yang bisa kamu lakukan, Riwayat Aktivitas, dll
 *
 * p umumnya digunakan yang lain-lain (13sp)
 * Contoh: subtitle, konten, dll
 *
 * class f-12 untuk p atau span atau label ukuran 12sp
 */

// 28sp
h1 {
    font-size: 1.75rem;
}

// 20sp
h2 {
    font-size: 1.25rem;
}

// 16sp
h3 {
    font-size: 1rem;
    line-height: 20px;
    font-weight: $font-bold;
}

// 15sp
h4 {
    font-size: 0.93rem;
}

// 14sp
h5 {
    font-size: 0.87rem;
}

// 12sp
h6 {
    font-size: 0.75rem;
    color: $color-dark-gray;
    font-weight: $font-semibold;
    line-height: 1rem;
}

// General p and label and span with font-size 13sp
p, label{
    font-size: 0.81rem;
    line-height: 20px;
    font-weight: $font-regular;
}

// For all that has font-size 12sp
.f-12 {
    font-size: 0.75rem;
}

// For all that has font-size 12sp
.f-13 {
    font-size: 0.81rem;
}

* {
    font-family: 'Open Sans', sans-serif;
    color: $color-dark-blue;
}

// Font Weight: 300
.font-light {
    font-weight: $font-light;
}

// Font Weight: 400
.font-regular {
    font-weight: $font-regular;
}

// Font Weight: 600
.font-semibold {
    font-weight: $font-semibold;
}

// Font Weight: 700
.font-bold {
    font-weight: $font-bold;
}

// Font Weight: 800
.font-extrabold {
    font-weight: $font-extrabold;
}

// Text with Horizontal Line
.text--middle {
    width: 100%;
    text-align: center;
    border-bottom: $border-line--gray;
    line-height: 0.1rem;
    margin: 26px 0 26px;

    span {
        background-color: $color-white;
        padding: 0 34px;
    }
}